*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/plugins/
! wp-content/plugins/wp-meetup/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php


wp-content/plugins/force-regenerate-thumbnails/force-regenerate-thumbnails.php

wp-content/plugins/force-regenerate-thumbnails/jquery-ui/jquery.ui.progressbar.min.1.7.2.js

wp-content/plugins/force-regenerate-thumbnails/jquery-ui/redmond/jquery-ui-1.7.2.custom.css
