/************************************************
*	Buttons							   		    * 
************************************************/

.organic-btn {
	background-image: none;
	filter: none;
	}
.organic-btn:hover {
	background-image: none;
	filter: none;
	}